<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head>
        <meta charset="UTF-8" />
        <title>Header template</title>
        
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        
    </head>
    <body>

        <header  th:fragment="header">
            <ul class="nav nav-pills">
                <li><a th:href="@{/}">Etusivu</a></li>
                <li sec:authorize="hasAnyAuthority('PLANNER','ADMIN')"><a th:href="@{/employees}">Työntekijät</a></li>
                <li sec:authorize="hasAnyAuthority('PLANNER','ADMIN', 'READER')"><a th:href="@{/tasks}">Työvuorot</a></li>
                <li sec:authorize="hasAnyAuthority('PLANNER','ADMIN', 'READER')"><a th:href="@{/plans}">Suunnitelma</a></li>
                <li class="pull-right"><a  th:href="@{/logout}">Kirjaudu ulos</a></li>
            </ul>
        </header>

    </body>
</html>
