<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        
        
        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>
        
        <div class="container">
            <h1>Tervetuloa</h1>

                <div class="container">
                    <h3>Valitse toiminto:</h3> 

                   

                    <div class="dropdown">   

                         <button class="btn btn-lg dropdown-toggle" type="button" data-toggle="dropdown" >
                            Toiminnot
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu">
                             <li><a class="dropdown-item" href=""></a></li>
                            <li><a class="dropdown-item" href=""></a></li>
                            <li><a class="dropdown-item" href=""></a></li>
                        </ul>


                    </div>
                </div>




        </div>
    </body>    
</html>