<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <meta charset="UTF-8" />
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        
    </head>
    <body>
        
        
        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>
        
        <div class="container">
            <h1>Tervetuloa</h1>

                <div class="container">
                    <h3>Valitse toiminto:</h3> 

                   
                        <ul >
                             <li sec:authorize="hasAnyAuthority('PLANNER','ADMIN')"><a class="btn" th:href="@{/employees}">Työntekijät</a></li>
                             <li sec:authorize="hasAnyAuthority('PLANNER','ADMIN','READER')"><a class="btn" th:href="@{/tasks}">Työvuorot</a></li>
                             <li><a class="btn" th:href="@{/plans}">Suunnitelma</a></li>
                        </ul>


                    
                </div>




        </div>
    </body>    
</html>