<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head>
        <title>Plans</title>
        <meta charset="UTF-8" />
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script type="text/javascript" th:src="@{/js/site.js}"></script>
    </head>
    <body>
        
          
        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>
       
        <div class="row">
            <div class="col-md-4">
                <h2>Selaa vanhoja:</h2>
                
                        <ul>
                            
                                <li th:each="plan : ${plans}">
                                    <a class="dropdown-item" th:href="@{/plans/{id} (id = ${plan.id})}" th:text="${plan.name}">plan</a>
                                    <form th:method="DELETE" th:action="@{/plans/{id} (id = ${plan.id})} "><input type="submit" class="btn btn-danger btn-sm" value="Poista"/></form>
                                </li>
                            
                        </ul>



                </div>
            </div>    
            <div class="col-md-6" sec:authorize="hasAnyAuthority('PLANNER','ADMIN')">
                <h2>Lisää uusi:</h2>


                <form method="post" th:action="@{/plans}" th:object="${plan}">
                
                    <div class="col-md-6">
                        <h3>Valitse työntekijät:</h3>
                        <div class="form-group ">
                            <select multiple="multiple" name="chosen" id="chosen">
                                
                                    <option th:each="emp : ${employees}" th:text="${emp.surname}" th:value="${emp.id}">employee</option>
                                
                            </select>
                        </div>

                        <button type="button" class="btn btn-sm" id="valitseTyontekijat">Valitse kaikki</button>
                    </div>
                    
                    
                    <div class="col-md-6">    
                        <h3>Valitse alku- ja loppupäivämäärät:</h3>

                       

                        <div class="form-group">
                            <label>Alkupäivä</label>
                            <div class="input-group date form_alkupaiva">    
                                 <input type="date" name="startDate" class="form-control" min=""/>


                            </div>
                        </div>
                        <div class="form-group">
                            <label>Loppupäivä</label>
                            <div class="input-group date form_loppupaiva">

                                 <input type="date" name="endDate" class="form-control"/>

                            </div>     
                        </div>

                   

                        <div class="form-group">
                            <button type="submit" class="btn-lg btn-success">TALLENNA</button>

                        </div>

                    </div>

                </form>
            </div>


        
        
    </body>
</html>
